.BodyStyle{
    background-color: #F9E3CE;
    width: 100%;
}

.InnerBody{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 5.5rem;
    box-sizing: border-box;
    min-width: 0px;
    margin: 0px auto;
    width: 100%;
    max-width: 1280px;
    flex-wrap: nowrap;
    height: fit-content;
    min-height: 100vh;
}

.QuizContainer{
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    border-style: groove;
    border-radius: 5px;
    justify-content: space-around;
    width: 200px;
    height: 260px;
}

.AddQuizContainer{
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  border-style: groove;
  border-radius: 5px;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

.AddQuizBtn{
  display: flex;
  align-items: center;
  background-color: #FB9366;
}

.QuizImgContainer{
  width: 100%;
  height: 120px;
}

.QuizContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 120px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

.modal-content {
  background-color: white;
  text-align: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}