.BodyStyle{
  background-color: #F9E3CE;
  width: 100%;
}

.InnerBody{
  display: flex;
  padding-top: 2rem;
  padding-bottom: 5.5rem;
  box-sizing: border-box;
  min-width: 0px;
  margin: 0px auto;
  width: 100%;
  max-width: 1280px;
  flex-wrap: nowrap;
  height: fit-content;
  min-height: 100vh;
}

.MainContainer{
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  border-style: groove;
  border-radius: 5px;
  width: 300px;
  height: 260px;
  background-color: #FEDBDB;
}

.FieldsContainer{
  display: flex;
  flex-direction: column;
  padding: 10px;
}